<a href="https://colab.research.google.com/github/WooHyunJ/Data_Algorithm/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%83%80%EC%9E%85_%EA%B8%B0%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 스칼라 연산법 문제

### **문제1 각 자리 수 더하기**
$$ 아래 변수를 이용하여 1234 만들어라  $$

In [2]:
#지정된 변수
a=1
b=2
c=3
d=4

#답안 작성
result = a*1000+b*100+c*10+d
print(result)

1234

### **문제2 모듈러 거듭제곱**
$$7^{2025} \text{의 마지막 6자리}$$
를 구하라.

In [3]:
#답안 작성
print(7**2025 % 10**6)

300807

### **문제 3. 약수 개수**

$$n = 2^{10} \cdot 3^{7} \cdot 5^{2} \cdot 11^{1}$$
일 때, n의 **양의 약수 개수**를 구하라.

In [4]:
#답안 작성

11*8*3*2 # 양의 약수 개수를 구할 땐, 제곱값에 +1씩 하여 곱해주면 됨

528

# 2. float (실수) 문졔

### **문제1. 정수부분과 소수부분 나누기**

$$ x = 12.01 $$
에 대하여서 정수부분과 소수부분을 나누기

In [6]:
# 답안 작성
# 단, 나누기와 나머지 계산 수식 사용
x = 12.01
정수 = int(x//1)
소수 = x%12

print(정수, 소수)

12 0.009999999999999787

### **문제2 두 점사이의 거리**

- 점 두 개가 주어질 때 거리를 구해서 출력해라.

- $x1, y1 = 1, 2$
- $x2, y2 = 4, 6$

> **공식**

$$
d=\sqrt{(x_2-x_1)^2+(y_2-y_1)^2}
$$

In [9]:
x1, y1 = 1, 2
x2, y2 = 4, 6

# 답안을 작성하시오
print(((x2-x1)**2+(y2-y1)**2)**0.5)

#아니면 math.sqrt 사용가능
import math
print(math.sqrt((x2-x1)**2+(y2-y1)**2))

5.0
5.0

# 3. 문자열 연산

In [22]:
#문자열끼리 이어붙이기 가능
a = "data"
b = "analysis"
print(a + b)         # "dataanalysis"
print(a + " " + b)   # "data analysis"

#문자열 반복 가능, 곱하기도 가능
print("ha" * 3)      # hahaha
print("-" * 10)      # ----------

#문자열 안에 부분 문자열 확인 가능
print("aa" in "data")    # False
print("z" in "data")     # False

#길이 출력 가능
print(len("data"))  # 4

#문자열 인덱싱&슬라이싱 가능
s = "abcdef"

print(s[0])          # a
print(s[len(s)-1])   # f
print(s[-1])         # f
print(s[1:3])        # bc
print(s[:3])         # abc
print(s[::2])        # ace
print(s[::-1])       #fedcba

dataanalysis
data analysis
hahaha
----------
False
False
4
a
f
f
bc
abc
ace
fedcba

# 4. 형 변환

In [24]:
# 문자열 숫자-> int or float
print(int("123"))      # 숫자 123
print(float("3.14"))   # 숫자 3.14

# 숫자 -> 문자열
print(str(123) + '년')   #123년

123
3.14
123년

# 5. 자주 사용하는 문자열 메서드

#### **(1) 공백 제거: `strip()`**

In [30]:
s = " hello "
print(s.strip())   # hello

hello

#### **(2) 치환: `replace()`**

In [33]:
price = "1,200원"
clean = price.replace(",", "").replace("원", "")
print(clean)   # 1200

s = "  h e l l o  "

s.replace(' ','')  # hello

1200

'hello'

#### **(3) 분리/결합: `split()` / `join()`**

In [34]:
text = "010,1234,5678"
parts = text.split(",") #분리 후 자동으로 리스트로 return
print(parts)  # ['010', '1234', '5678']

print("-".join(parts)) # 010-1234-5678

['010', '1234', '5678']
010-1234-5678

#### **(4) 대소문자: `lower()` / `upper()`**

In [35]:
print("Data".lower())  # "data"
print("data".upper())  # "DATA"

data
DATA

#### **(5) 시작/끝 검사: `startswith()` / `endswith()`**

In [36]:
print("report_01.csv".endswith(".csv"))  # True
print("img_01.png".startswith("img_"))   # True

True
True

### **6-1. `isdigit()`**

- 전부 “숫자 문자”면 True 나옴
- 단, `1`, `3.14` 같은 건 False 나옴(마이너스/점 때문에)
- 전각 숫자(예: `１２３`) 같은 것도 True 될 수 있음

In [37]:
print("123".isdigit())     # True
print("-123".isdigit())    # False
print("3.14".isdigit())    # False
print("12a".isdigit())     # False

True
False
False
False

### **6-2. `isnumeric()` / `isdecimal()`**

- `isdecimal()` 가장 빡셈(10진 숫자만)
- `isdigit()` 그 다음
- `isnumeric()` 제일 넓음(분수/특수 숫자 문자까지 포함 가능)

In [38]:
print("123".isdecimal())   # True
print("123".isdigit())     # True
print("123".isnumeric())   # True

True
True
True

#### **6-3. `isalpha()` / `isalnum()`**
- `isalpha()` 전부 글자면 True(공백/숫자 있으면 False)
- `isalnum()` 글자+숫자만 있으면 True(특수문자 있으면 False)

In [40]:
print("abc".isalpha())   # True
print("abc1".isalpha())  # False

print("abc1".isalnum())  # True
print("abc_1".isalnum()) # False

True
False
True
False

#### **6-4. `isspace()`**

- 공백(스페이스/탭/개행)만 있으면 True

In [41]:
print("   ".isspace())     # True
print("\n\t".isspace())    # True
print(" a ".isspace())     # False

print('\n\t')

True
True
False

### **6-5. `islower()` / `isupper()` / `istitle()`**

In [42]:
print("abc".islower())     # True
print("ABCa".isupper())     # True
print("Hello World".istitle())  # True

True
False
True

### **7-1. `find()` / `rfind()`**

- 찾으면 인덱스, 없으면 -1 반환함
- `rfind()`는 뒤에서부터 찾음

In [43]:
s = "banana"
print(s.find("na"))   # 2
print(s.rfind("na"))  # 4
print(s.find("z"))    # -1

2
4
-1

### **7-2. `index()` / `rindex()`**

- 찾으면 인덱스, 없으면 에러

In [44]:
s = "banana"
print(s.index("na"))  # 2
# print(s.index("z")) # ValueError

2

### **7-3. `count()`**

In [45]:
print("banana".count("a"))   # 3

3

#### **8. `translate()` (여러 문자 한 번에 치환)**

In [46]:
table = str.maketrans({"-": "", "_": "", " ": ""})
print("010-1234_566  7".translate(table))  # "01012345667"

01012345667

#### **9. `splitlines()`**

In [47]:
s = "a\nb\nc"
print(s.splitlines())  # ['a','b','c']

['a', 'b', 'c']

#### **10. `capitalize()` / `title()` / `swapcase()`**

In [48]:
print("hello".capitalize())   # "Hello"
print("hello world".title())  # "Hello World"
print("AbC".swapcase())       # "aBc"

Hello
Hello World
aBc

## **11) 포맷팅(문자열 만들기)**

In [49]:
name = "우현"
score = 95
print(f"{name} 점수는 {score}점")  # "우현 점수는 95점"

우현 점수는 95점

### **11-2. `format()`**

In [50]:
print("x={}".format(10))
print("{:.2f}".format(3.14159))  # "3.14"

x=10
3.14

### **12) 정렬/정돈 메서드**

### **12-1. `zfill()`**

- 앞을 0으로 채움 (코드/날짜 포맷에서 많이 씀)

In [51]:
print("6".zfill(3))     # "006"
print("12".zfill(3))    # "012"

006
012

### **12-2. `center()` / `ljust()` / `rjust()`**

In [52]:
print("hi".center(6, "-"))  # "--hi--"
print("hi".ljust(6, "-"))   # "hi----"
print("hi".rjust(6, "-"))   # "----hi"

--hi--
hi----
----hi

## **2-2-4. bool (불리언: True/False)**

### **1) bool 기본**

- `bool`은 **True / False** 두 값만 갖는 타입이고, 비교/조건문의 결과로 가장 많이 등장.

In [54]:
print(10 > 3)   # True
print(10 == 3)  # False

True
False

### **2) 논리 연산 (and, or, not)**

In [56]:
a, b = True, False

print(a and b)  # False (둘 다 True여야 True)
print(a or b)   # True  (하나라도 True면 True)
print(not a)    # False (뒤집기)

False
True
False

### **3) Truthy / Falsy (자동으로 bool로 해석되는 규칙)**

파이썬은 조건문에서 다음 값들을 **False처럼** 취급:

- `0`, `0.0`
- `""` (빈 문자열)
- `[]`, `{}`, `set()` (빈 컨테이너)
- `None`

In [59]:
print(bool(0))                   # False
print(bool(""))                  # False
print(bool([]))                  # False
print(bool(None))                # False
print(bool("0"), bool([0]))      # True True

False
False
False
False
True True

### **4) `all()` 과 `any()`**

- 둘 다 “여러 조건을 한 번에” 판단할 때 쓰는 함수.

#### **4-1) `all(iterable)`**

- **모든 값이 True(Truthy)** 이면 True
- 하나라도 False(Falsy)면 False

In [62]:
print(all([True, True, True]))           # True
print(all([True, False, True]))          # False
print(all([1, "hi", [0]]))               # True
print(all([1, "", 3]))                   # False

True
False
True
False

#### **4-2) `any(iterable)`**

- **하나라도 True(Truthy)** 이면 True
- 전부 False(Falsy)면 False

In [63]:
print(any([False, False, True]))    # True
print(any([0, "", None]))           # False
nums = [0, 0, 5, 0]                 # True
print(any(n != 0 for n in nums))    # True
vals = [1, None, 3]
print(any(v is None for v in vals))  # True

True
False
True
True

### **5) `all/any` 사용할 때 중요한 포인트**

#### **비어있는 경우(빈 리스트)의 결과**

- `all([])` 는 **True**
- `any([])` 는 **False**

In [64]:
print(all([]))  # True
print(any([]))  # False

True
False

### **6) not 포함**
-`not`은 **True/False를 뒤집는 연산자**.

In [65]:
print(not True)
print(not False)

False
True

#### **1) 비어있다 / 비어있지 않다**
- 컨테이너(list/tuple/dict/set/str)는 **비어있으면 False**, 비어있지 않으면 True로 취급.

In [68]:
items = []
print(not items)   # True

items = [1, 2]
print(not items)   # False

s = ""
print(not s)       # True

s = "hi"
print(not s)       # False

True
False
True
False

#### **2) None(값 없음) 체크**
- `None`은 “값이 없다”는 표시라서, 보통 이렇게 확인해.

In [70]:
x = None
print(x is None)          # True

print(not (x is None))    # False

True
False

#### **3) “공백만 있는 문자열”도 ‘없다’로 보고 싶을 때**

- 빈 문자열이 아닌 `"   "` 같은 공백 문자열도 “없음” 처리하고 싶으면 `strip()`을 같이 씀.

In [72]:
s = "   "
print(not s)
print(not s.strip())

False
True

#### **4) 포함/미포함을 not으로**

`in` 결과(True/False)에 `not`을 붙이면 “없다”가 됨.

In [76]:
nums = [1, 2, 3]
print(not (5 in nums))     # True
print(not (2 in nums))     # False

True
False

In [77]:
di = {'a':1,'b':2}

for i in di:
  print(i)         # a b

a
b

In [78]:
d = {"a": 1}
print((1 in d.values()))   # True

True

#### **5) 비교 결과를 뒤집기**

In [79]:
x = 10
print(not (x > 0))     # False
print(not (x == 10))   # False
print(not (x != 10))   # True

False
False
True

#### **6) 조건 여러 개를 not으로 묶기**

- 자주 쓰는 논리 변형.

* `not (A and B)` 는 `not A or not B` 와 같은 의미
* `not (A or B)` 는 `not A and not B` 와 같은 의미

In [82]:
A = True
B = False

print(not (A and B))        # True
print((not A) or (not B))   # True

True
True